@{
    ViewData["Title"] = "Informacion";
}
<h2>@ViewData["Title"]</h2>

<p>Sistema desarrollado para la asignatura Ingenieria de Software 2017</p>
<p>en conjunto a la UPA (Unidad de Produccion AudioVisual UCN</p>
