


@{
    ViewData["Title"] = "Sistema de Cotizaciones UPA-UCN";
}

<h2>@ViewData["Title"]</h2>

<body>
    <div class="row">
    <div class="col-md-6">
        <h2>Bienvenido a la plataforma</h2>
        <ul>
            <li>Puedes Crear cotizaciones y registrarte en la base datos</li>
            <li>Para asi , poder estar al tanto del servicio solicitado</li>
        </ul>
    </div>
    <div>
        <h2>Desarrollado por German Rojo</h2>
        
    </div>
    
</body>
</html>